<div class="center jumbotron">
  <div class="profile">
    <img src="http://www.gravatar.com/avatar/1f9c01e40618cd5d2469e1c8f30009e0?size=200" />
  </div>

  <div class="bio">
    <h2>Hello there! I'm Jason Watson.</h2>
    <h3>I'm a full-stack web developer living in Austin, Texas.</h3>
    <p>My passion for software development stems from a real interest in building quality tools that are
      embraced by end users for their ease of use and quality of result.  In this effort I have mainly worked
      in Ruby on Rails, Javascript, and assorted databases.  I aim to be a valued team member in this pursuit and am
      always receptive to learning experiences.
    </p>
  </div>
</div>
<div class="row">
  <!--<div class="col-lg-4">-->
    <!--<h3 class="midrow">-->
      <!--View Recipes as a Guest User-->
    <!--</h3>-->
    <!--<p>-->
      <!--Browse and view recipes as a guest and sign up later.-->
    <!--</p>-->
    <!--<%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
    <!--<h3 class="midrow">-->
      <!--View Recipes as a Guest User-->
    <!--</h3>-->
    <!--<p>-->
      <!--Browse and view recipes as a guest and sign up later.-->
    <!--</p>-->
    <!--<%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
    <!--<h3 class="midrow">-->
      <!--View Recipes as a Guest User-->
    <!--</h3>-->
    <!--<p class="left">-->
      <!--Browse and view recipes as a guest and sign up later.-->
    <!--</p>-->
    <!--<%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>-->
  <!--</div>-->
</div>