<div class="center jumbotron">
  <div class="profile">
    <img src="http://www.gravatar.com/avatar/1f9c01e40618cd5d2469e1c8f30009e0?size=200" />
  </div>

  <div class="bio">
    <h2>Hello there! I'm Jason Watson.</h2>
    <h3>I'm a full-stack web developer living in Austin, Texas.</h3>
    <p>My passion for software development stems from a real interest in building quality tools that are
      embraced by end users for their ease of use and quality of result.  In this effort I have mainly worked
      in Ruby on Rails, Javascript, and assorted databases.  I aim to be a valued team member in this pursuit and am
      always receptive to learning experiences.
    </p>
  </div>
</div>
<div class="tool-icons">
  <h3>Tools I use:</h3></br>
  <div class="icons">
    <img src="https://coderdojo.com/wp-content/uploads/2015/03/Ruby.png" style="width: 15%">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" style="width: 10%">
    <img src="http://www.w3devcampus.com/wp-content/uploads/logoAndOther/logo_JavaScript.png" style="width: 10%">
    <img src="http://geteverything.org/wp-content/uploads/2013/08/13.png" style="width: 20%">
    <img src="http://www.geeks.gallery/wp-content/uploads/2015/01/jQurery.gif" style="width: 10%">
    <img src="http://www.w3schools.com/angular/pic_angular.jpg" style="width: 15%;">
  </div>
</div>
<div class="mks-grad">
  <h3>Proud graduate of </h3>
  <a href="http://blog.makersquare.com/2013/11/11/makersquare-graduate-jason-watson-u-s-air-force-veteran-turned-developer/">
    <img src="https://res.cloudinary.com/makersquare1/image/upload/v1417047164/MakerSquare_InlineLogo_V4_600_87_azitdi.png">
  </a>
</div>