<div class='project'>
  <div class='screenshot'>
    <a href='http://a-bloggregator.herokuapp.com' target="_blank">
      <%= image_tag 'bloggregator.png' %>
    </a>
  </div>
  <div class='description'>
    <h3><a target="_blank" href="http://a-bloggregator.herokuapp.com">Bloggregator</a></h3>

    <p>As a student at <strong>MakerSquare</strong> I built the Bloggregator. A rails app to aggregate and display web artilcles, RSS feeds, and personal blog posts.
      A user can register to add posts to a personal reading list.
    </p>
  </div>
</div>

<div class='project'>
  <div class='screenshot'>
    <a href='http://api.image2art.com/widget/demo/staging.html' target="_blank">
      <%= image_tag 'i2a.png' %>
    </a>
  </div>
  <div class='description'>
    <h3><a target="_blank" href="http://api.image2art.com/widget/demo/staging.html">Image2Art</a></h3>

    <p>As a member of the development team at <strong>New Era Portfolio</strong> I was responsible for development of
      the customer facing BackboneJS application used for searching, navigating and configuring art as part of the <strong>
      Image2Art</strong> SaaS platform.
    </p>
  </div>
</div>