<div class='project'>
  <div class='screenshot'>
    <a href='http://a-bloggregator.herokuapp.com' target="_blank">
      <img src="/assets/bloggregator.png" />
    </a>
  </div>
  <div class='description'>
    <h3><a target="_blank" href="http://a-bloggregator.herokuapp.com">Bloggregator</a></h3>

    <p>Bloggregator is a rails app to aggregate and display web artilcles, RSS feeds, and personal blog posts.
      A user can register to add posts to a personal reading list.
    </p>
  </div>
</div>

<div class='project'>
  <div class='screenshot'>
    <a href='http://api.image2art.com/widget/demo/staging.html' target="_blank">
      <img src="/assets/i2a.png" />
    </a>
  </div>
  <div class='description'>
    <h3><a target="_blank" href="http://api.image2art.com/widget/demo/staging.html">Image2Art</a></h3>

    <p>BackboneJS plug-in application for searching, navigating and configuring art.
    </p>
  </div>
</div>