$navbar-default-bg: #acce43;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 200px;
}

.container-fluid > .navbar-header {
  margin-left: 50px;
}

.navbar-default .navbar-brand {
  color: white;
}

ul li {
  list-style-type: none;
}

.profile img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.bio {
  text-align: left;
}

.project {
  height: 180px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.screenshot {
  width: 25%;
  display: inline-block;
}

.screenshot img {
  width: 100%;
}

.description {
  width: 70%;
  float: right;
  display: block;
}

.full-resume {
  width: 80%;
  margin-left: 124px;
}

.tool-icons img {
  margin: 10px;
}

.icon-heart {
  color: #acce43;
}

.footer {
   height: 50px;
   border-top: 1px solid #eaeaea;
   padding-top: 15px;
   padding-left: 15px;
 }

.footer .content {
  margin: 5px;
  text-align: center;
}