<footer class="footer">
  <div class="content">
    <p>Built with <span class="glyphicon glyphicon-heart"></span> in Austin, Texas by <a href="http://github.com/jswatson0">Jason Watson</a></p>
  </div>
</footer>