<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Jason Watson
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href='https://plus.google.com/100630656613487772328'>
          <span class='hide-for-small'><i class='icon-google-plus'></i></span>
          <!--<span class='show-for-small'>Google Plus</span>-->
        </a>
      </li>

      <li>
        <a href='http://facebook.com/jason.watson.9'>
          <span class='hide-for-small'><i class='icon-facebook'></i></span>
          <!--<span class='show-for-small'>Facebook</span>-->
        </a>
      </li>

      <li>
        <a href='http://twitter.com/jswatson0'>
          <span class='hide-for-small'><i class='icon-twitter'></i></span>
          <!--<span class='show-for-small'>Twitter</span>-->
        </a>
      </li>

      <li>
        <a href='http://linkedin.com/in/jswatson'>
          <span class='hide-for-small'><i class='icon-linkedin'></i></span>
          <!--<span class='show-for-small'>LinkedIn</span>-->
        </a>
      </li>

      <li>
        <a href='http://github.com/jswatson0'>
          <span class='hide-for-small'><i class='icon-github'></i></span>
          <!--<span class='show-for-small'>Github</span>-->
        </a>
      </li>

      <li class="divider"></li>
      <li class="portfolio"><a href="/portfolio.html">Portfolio</a></li>
      <li class="divider"></li>

      <li class="resume"><a href="/resume">Résumé</a></li>
      <li class="divider"></li>
    </ul>
  </div>
</nav>


<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--<nav class="top-bar">-->
      <!--<ul class="title-area">-->
        <!--&lt;!&ndash; Title Area &ndash;&gt;-->
        <!--<li class="name">-->
          <!--<h1><a href="/">Jason Watson</a></h1>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<section class="top-bar-section">-->
        <!--&lt;!&ndash; Left Nav Section &ndash;&gt;-->
        <!--<ul class="right">-->
          <!--<li>-->
            <!--<a href='https://plus.google.com/100630656613487772328'>-->
              <!--<span class='hide-for-small'><i class='icon-google-plus'></i>-->
              <!--</span><span class='show-for-small'>Google Plus</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a href='http://facebook.com/jason.watson.9'>-->
              <!--<span class='hide-for-small'><i class='icon-facebook'></i>-->
              <!--</span><span class='show-for-small'>Facebook</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a href='http://twitter.com/jswatson0'>-->
              <!--<span class='hide-for-small'><i class='icon-twitter'></i>-->
              <!--</span><span class='show-for-small'>Twitter</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a href='http://linkedin.com/in/jswatson'>-->
              <!--<span class='hide-for-small'><i class='icon-linkedin'></i>-->
              <!--</span><span class='show-for-small'>LinkedIn</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a href='http://github.com/jswatson0'>-->
              <!--<span class='hide-for-small'><i class='icon-github'></i>-->
              <!--</span><span class='show-for-small'>Github</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li class="divider"></li>-->
          <!--<li class="portfolio"><a href="/portfolio.html">Portfolio</a></li>-->
          <!--<li class="divider"></li>-->

          <!--<li class="resume"><a href="/jason_watson_resume.pdf">Résumé</a></li>-->
          <!--<li class="divider"></li>-->

          <!--&lt;!&ndash; <li class="blog"><a href="/blog">Blog</a></li> &ndash;&gt;-->
        <!--</ul>-->
      <!--</section>-->
    <!--</nav>-->

  <!--</div>-->
<!--</nav>-->