<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Jason Watson
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href='https://plus.google.com/100630656613487772328'>
          <span class='hide-for-small'><i class='icon-google-plus'></i></span>
          <!--<span class='show-for-small'>Google Plus</span>-->
        </a>
      </li>

      <li>
        <a href='http://facebook.com/jason.watson.9'>
          <span class='hide-for-small'><i class='icon-facebook'></i></span>
          <!--<span class='show-for-small'>Facebook</span>-->
        </a>
      </li>

      <li>
        <a href='http://twitter.com/jswatson0'>
          <span class='hide-for-small'><i class='icon-twitter'></i></span>
          <!--<span class='show-for-small'>Twitter</span>-->
        </a>
      </li>

      <li>
        <a href='http://linkedin.com/in/jswatson'>
          <span class='hide-for-small'><i class='icon-linkedin'></i></span>
          <!--<span class='show-for-small'>LinkedIn</span>-->
        </a>
      </li>

      <li>
        <a href='http://github.com/jswatson0'>
          <span class='hide-for-small'><i class='icon-github'></i></span>
          <!--<span class='show-for-small'>Github</span>-->
        </a>
      </li>

      <li class="divider"></li>
      <li class="portfolio"><a href="/portfolio.html">Portfolio</a></li>
      <li class="divider"></li>

      <li class="resume"><a href="/resume">Résumé</a></li>
      <li class="divider"></li>
    </ul>
  </div>
</nav>
